/*Kop lettertype bron -> https://www.fontspace.com/mikea-font-f105560*/
@font-face {
    font-family: mikea;
    src: url(../fonts/Mikea.otf);
}

/*Paragraaf lettertype bron -> https://befonts.com/montserrat-font-family.html*/
@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-ExtraLight.ttf);
}

body{
    background-color: #FFFAF2;
}

h1, h2{
    font-family: mikea;
    color: black;
    font-size: 2em;
}

p{
    font-family: montserrat;
    font-size: 1em;
}
