/*********/
/* FONTS */
/*********/

/*Kop lettertype bron -> https://www.fontspace.com/mikea-font-f105560*/
@font-face {
    font-family: mikea;
    src: url(../fonts/Mikea.otf);
}

/*Paragraaf lettertype bron -> https://befonts.com/montserrat-font-family.html*/
@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-ExtraLight.ttf);
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root{
    /*Basis kleurenpalet*/
    --achtergrond: #FFFAF2;
    --kop-kleur: black;
}


/***********/
/* STYLING */
/***********/

body{
    background-color:var(--achtergrond);
    margin-left: 3em;
    margin-right: 3em;
}

h1, h2{
    font-family: mikea;
    color:var(--kop-kleur);
    font-size: 1.8em;
}


p{
    font-family: montserrat;
    font-size: 1em;
}

.wieBenIk{
    position: relative;
    width: 8em;
    border-radius: 50%;
}

section img{
    width: 9em;
}

h3{
    font-family: montserrat;
    font-size: 1.5em;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    background-color: #f0f0f0; /* Achtergrondkleur lijstitems */
    margin-bottom: .8em; /* marge tussen de lijstitems */
}

li img {
    margin-right: 10px;
    max-width: 100%; /* Zorgt ervoor dat de afbeelding niet groter is dan het lijstitem */
    height: auto;
}